@charset "UTF-8";

.background-image {
	background-image: url("../assets/background.jpeg");
	background-repeat: none;
	background-position: fill;
	width: 100vw;
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
	height: 100vh
}

.background-image.blurred {
	filter: saturate(35%) blur(3px) opacity(50%); height : 100vh;
}

.navbar {
	margin-bottom: 20px;
}

.avatar {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	box-shadow : 3px 3px 5px #333;
	
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
}

.logo {
	width: 50px;
	height: 50px;
}

.forecast {
	padding: .5em;
	margin-bottom: 1em;
}

.weather-image {
	width: 86px;
	height: 86px;
	border: 1px solid black;
}

.forecast-name {
	font-size: 125%;
	font-weight: bold;
}

.forecast-description {
	font-size: 110%;
}

.forecast-weather {
	
}

.forecast-temp::after {
	content: " degrees";
}

label {
	margin-right: 1em;
}

input {
	margin-right: 1em;
}

.user_card {
	height: 300px;
	width: 350px;
	margin-top: 125px;
	margin-bottom: auto;
	background: #48d;
	position: relative;
	float: right;
	padding: 10px;
	border-radius: 5px;
}

.shadow {
	box-shadow: 4px 4px 4px black;
	-webkit-box-shadow: 4px 4px 4px black;
	-moz-box-shadow: 4px 4px 4px black;
}

div.footer {
	width: 100%;
	heigth: 2em;
	padding: .5em;
	background-color: rgba(200,200,200,.65);
	position: fixed;
	left: 0;
	bottom: 0;
}

.brand_logo_container {
	position: absolute;
	height: 170px;
	width: 170px;
	top: -75px;
	border-radius: 50%;
	background: #29c1ff;
	padding: 10px;
	text-align: center;
}

.brand_logo {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 2px solid white;
}

.form_container {
	margin-top: 100px;
}

.login_btn {
	width: 100%;
	background: #2b5fc0 !important;
	color: white !important;
}

.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.login_container {
	padding: 0 2rem;
}

.input-group-text {
	background: #2b5fc0 !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user, .input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked ~.custom-control-label::before
	{
	background-color: #2b5fc0 !important;
}